*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.1);
    user-select: none;
}

.icon-image{
    margin: 7px;
    width: 32px;
    height: 32px;
    
}

.header-text {
    font-size: 16px;
    font-family: "Helvetica";
}

.exit-container{
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 20%;
    overflow:hidden;
    transition: background-color 0.3s;
    cursor: pointer;
    margin: 5px
}

.exit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding-bottom: 2px;
}


.exit-button:hover{
    background-color: rgba(0,0,0,.1);
}


.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.search-bar{
    margin: 0;
    width: 100%;
    max-width: 300px;
    height: 50px;
    background: rgba(104, 104, 104, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding:10px;
}

.search-input {
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 15px;
}


.search-button {
    border:none;
    background: url(./assets/searcch-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border-radius: 50%;
    width:30px;
    height:30px;
    cursor:pointer;
    background-color: rgb(238, 238, 238);
}

.tab-container {
    position: relative;
}

.tab-container *{
    box-sizing: border-box;
}

.select {
    background:rgba(104, 104, 104, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(104, 104, 104, 0.2);
    cursor:pointer;
    padding: 18px;
}

.select span{
    display: flex;
    justify-content: center;
    flex-grow: 100;
    font-family: "Helvetica";
    font-size: 14px;
}

.select:hover {
    background: #ababab;
}

.dropdown-symbol {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000000;
    transition: 0.3s;
}

.dropdown-symbol-rotate {
    transform: rotate(180deg);
}

.menu {
    padding: 0.2em 0.5em;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius: 0.5em;
    color: rgba(0, 0, 0);
    position: absolute;
    top: 100%;
    left:50%;
    width:100%;
    transform: translateX(-50%);
    z-index: 1000 !important;
}

.menu li {
    padding: 0.7em 0.5em;
    margin:0.3em 0;
    border-radius: 0.5em;
    cursor:pointer;
    transition: all 0.2s;
}
.menu li:hover{
    background: rgba(104, 104, 104, 0.2);
}

.active {
    background:#d2d2d2 
}


.items-container{
    width: 350px;
    height: 350px;
    overflow:auto;
    display: flex;
}

.fav-items-container{
    width: 350px;
    height: 350px;
    overflow:auto;
    display: flex;
}

.item {
    font-family: "Helvetica";
    margin: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(104, 104, 104, 0.2);
}

.image {
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 20px;
    margin: 2px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.description-container {
    font-family: "Helvetica";
    position: relative;
    display: flex;
}

.itemPrice {
    font-size:13px;
    font-weight: 600;
}
.favoriteButton{
    font-size: 12px;
    position: absolute;
    right: 3px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
}

.favoriteButton:hover{
    color: rgb(44, 139, 189);
}

.footer-container {
    background-color: rgba(104, 104, 104, 0.2);
    display:flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 4px;
}

.contact{
    font-family: "Helvetica";
    margin: 5px;
    cursor: pointer;
}

.favorites{
    flex:1
}

.star{
    font-family: "Helvetica";
    font-size: 25px;
    cursor: pointer;
    float: right;
    margin-right: 5px;
    user-select: none;
}

.contact:hover{
    color: rgb(44, 139, 189);
}
.star:hover {
    color: rgb(44, 139, 189);
}

.contactInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-family: "Helvetica";
    font-size: 16px;
}

.title{
    width: auto;
    height: 35px;
    overflow: auto;
}

.homepage{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.homepage-text {
    font-size: 14px;
    position: absolute;
    z-index: -1;
}

